.circule-center {
    display: flex;
    width: 50px;
    height: 50px;
    color: darkgoldenrod;
    border: 2px solid darkgoldenrod;
    border-radius: 150px;
    align-items: center;
    font-weight: bold;
    font-size: x-large;
    justify-content: center;
    margin: 20px;
}

.item-1 {
    border: 1px dashed darkgoldenrod;
    border-radius: 20px;
}

.item-reverse {
    flex-direction: row-reverse;
    border: 1px dashed darkgoldenrod;
    border-radius: 20px;
}

.plus-image {
    filter: invert(16%) sepia(10%) saturate(6896%) hue-rotate(223deg) brightness(90%) contrast(96%) drop-shadow(3px 3px 5px #2e255c);
    align-self: center;
}

.faq-answer ul {
    list-style: disc !important;
    padding: 10px 20px !important;
}

.faq-answer ol {
    list-style: decimal;
    padding: 10px 20px;
}
